html {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: monospace;
    background-color: #333333;
    color: #cccccc;
}

#donut {
    border: 100px solid wheat;
    border-bottom: 100px solid chocolate;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

#prime {
    position: absolute;
    top: 10px;
    width: 300px;
}

#prime button {
    margin-top: 10px;
    width: 100%;
}

#results {
    margin-top: 10px;
    white-space: pre-wrap;
    opacity: 0.65;
}
