<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear/>
        <add key="nuget" value="https://api.nuget.org/v3/index.json"/>
        <add key="bootsharp" value="C:/Users/Elringus/Documents/GitHub/Bootsharp/DotNet/bin"/>
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="Elringus"/>
            <add key="ClearTextPassword" value="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"/>
        </github>
    </packageSourceCredentials>
</configuration>
